<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:property-placeholder location="classpath:application.properties"/>
<!--    <context:component-scan base-package="com.mycompany.bluraystore.controller"/>-->
<!--    <context:component-scan base-package="com.mycompany.bluraystore.service"/>-->
<!--    <context:component-scan base-package="com.mycompany.bluraystore.repository.file"/>-->


<!--    <bean id="service" class="com.mycompany.bluraystore.service.DefaultMovieService">-->
<!--    </bean>-->

<!--    <bean class="com.mycompany.bluraystore.controller.MovieController">-->
<!--    </bean>-->

<!--    <bean id="repository" class="com.mycompany.bluraystore.repository.file.FileMovieRepository">-->

<!--        <property name="file" value="D:\DEWEB\DEWEB 5_Formation Veille Organisation\M2i\bluraystore[correction2]\bluraystore\movies.csv"/>-->

    </bean>
    

</beans>