<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A propos</title>
</head>
<body>
<h1>A propos</h1>
<h>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce egestas semper euismod. Nulla nec scelerisque ipsum, vitae accumsan magna. Sed sit amet lectus varius, pharetra elit ac, rhoncus risus. Donec porttitor dui vel ipsum volutpat tristique. Praesent at ante pulvinar, tincidunt metus nec, laoreet est. Donec interdum lorem at orci feugiat accumsan. Donec ultricies orci eros, at rhoncus nibh sollicitudin vel. Proin porttitor et velit iaculis finibus. Etiam pulvinar sagittis pretium.
</h>
</body>
</html>